# --- الزامی ---
Django>=5.0,<5.3
Pillow>=10.3          # برای فیلدهای تصویر

# --- پیشنهادی برای اجرا روی هاست ---
whitenoise>=6.6       # سرو فایل‌های استاتیک بدون تنظیمات اضافه (اختیاری ولی توصیه‌شده)
gunicorn>=22.0        # وب‌سرور WSGI برای لینوکس/VPS

# --- اختیاری ---
# psycopg[binary]>=3.1   # در صورت استفاده از PostgreSQL
